body {
    background-image: url(../Images/background\ image.jpg);
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

header {
    margin-bottom: 15px;
    background-color: slategray;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: inline-block;
    padding: 0px 20px 0px 50px;
    float: left;
    color: azure;
    font-size: 50px;
}

header nav {
    justify-self: flex-end;
    align-self: flex-end;
}

header nav ul {
    list-style-type: none;
    padding-right: 50px;
}

header nav ul li {
    display: inline-block;
    margin-left: 50px;
    font-size: 40px;
}

header nav ul li a {
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.robby_photo {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 32%;
    margin-top: 20px;
}

.AboutMe:hover,
.work:hover,
.contact:hover {
    text-decoration: underline;
}

.AboutMe:active,
.work:active,
.contact:active {
    text-decoration: underline black;
}

.container-dev-image {
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 98px;
    text-align: center;
    color: azure;
  }

.dev-image {
    width: 100%;
    height: 575px;
  }

.container-about-me {
      display: flex;
      margin-top: 25px;
      margin-bottom: 25px;
  }

.bio {
      width: 10%;
      height: 155px;
      display: inline-block;
      margin-left: 20px;
      background-color: slategray;
      padding: 55px;
      font-size: 29px;
      text-align: center;
      color: aliceblue;
  }

.bio-text {
      width: 80%;
      margin-right: 20px;
      margin-left: 75px;
      font-size: 29px;
      align-self: center;
      color: beige;
  }

.project-container {
      display: flex;

  }

.projects {
    width: 80%;
    margin-left: 20px;
    display: flex;
    flex-flow: column wrap;
  }

.small-icon-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-work-box {
      width: 10%;
      margin-right: 20px;
      margin-left: 75px;
      background-color: slategray;
      height: 155px;
      padding: 55px;
      font-size: 29px;
      text-align: center;
      align-self: center;
      color: aliceblue;
  }
  

.project-1 {
    width: 75%;
    height: 350px;
    align-self: center;
    background-image: url(../Images/Project\ 1\ Image.jpg);
    background-size: cover;
    margin-top: 5px;
    position: relative;
}

.project-1-text {
    background-color: slategray;
    width: 200px;
    height: 60px;
    text-align: center;
    padding-top: 9px;
    margin-top: 25px;
    color: white;
}

.project-2,
.project-3,
.project-4,
.project-5 {
    width: 48%;
    background-color: brown;
    margin-top: 5px;
    height: 200px;
}

.small-icon-projects-text {
    background-color: slategray;
    width: 200px;
    height: 60px;
    text-align: center;
    padding-top: 9px;
    margin-top: 25px;
    color: white;
}

.project-2 {
    background-image: url(../Images/Project\ 2\ Image.jpg);
    background-size: cover;
}

.project-3 {
    background-image: url(../Images/Project\ 3\ Image.jpg);
    background-size: cover;
}

.project-4 {
    background-image: url(../Images/Project\ 4\ Image.jpg);
    background-size: cover;
}

.project-5 {
    background-image: url(../Images/Project\ 5\ Image.jpg);
    background-size: cover;
}

.project-1:hover,
.project-2:hover,
.project-3:hover,
.project-4:hover,
.project-5:hover {
    opacity: .6;
}


.container-contact-me {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-section {
    width: 10%;
    height: 100px;
    display: inline-block;
    margin-left: 20px;
    background-color: slategray;
    padding: 55px;
    font-size: 29px;
    text-align: center;
    color: aliceblue;
}

.container-contact-info {
    width: 80%;
    margin-right: 20px;
    margin-left: 75px;
    display: flex;
    color: aliceblue;
}

.contact-info {
    align-self: flex-end;
    display: inline-flex;
    list-style: none;
}

.contact-info li strong{
    font-size: 30px;
    text-decoration: underline;
}

.contact-info li {
    margin-left: 85px;
    font-size: 22px;
}

.contact-info li a {
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }
  